# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
# Compiled Object files
# Precompiled Headers
# Compiled Dynamic libraries
# Fortran module files
# Compiled Static libraries
# Executables
### C template
# Prerequisites

# Object files
# Linker output
# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)
# Executables
# Debug files
# Kernel Module Compile Results
/cmake-build-debug/
.idea/
